.like-comment-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.form-text {
  height: 90px;
}

.comment-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
